{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}
<div class="fbox home">
  <h3>What is the Harmony Collective</h3>
  <div class="pbox home">
    <p>
      The Harmony Collective is a Canada-based initiative dedicated to bringing a
      personalized music experience to rural and inner-city communities, focusing on populations with
      typically less access to the performing arts -- care homes, veterans’ homes,
      inner-city households and schools, and homes for those with disabilities.
    </p>
  </div>
</div>
<div class="fbox home">
  <h3>Our Current Project for COVID-Relief: Musical Pen Pals</h3>
  <div class="pbox home">
    <p>Due to the suspension of in-person efforts for community service,
       Musical Pen Pals (MPP) is our first all-digital initiative for students of all ages. </p>
  </div>
  <div class="pbox home">
    <p>Musicians will record and upload themselves playing/singing, fill out a reflective
      questionnaire about their selection, and we will compile submissions monthly as an “audio letter”
      for underserved and isolated populations. Those who receive a video will fill out reflection questions
      on their listening experience and their responses will be emailed back to the student
      musicians, facilitating a digital “pen-pal” experience. </p>
  </div>
</div>
<div class="fbox home">
  <h3>Origins of the Pen-Pal Idea</h3>
  <div class="pbox home">
    <p>Having a pen-pal comes with many benefits: it encourages both participants
      to practice mutual empathy and concern, and helps foster a sense of connection—all
      good things, especially while COVID-19 has prevented social gatherings from happening.
    </p>
  </div>
</div>
<div class="fbox home">
  <h3>Why music?</h3>
  <div class="pbox home">
    <p>Research has consistently shown positive correlations between music and
      wellness benefits such as preserving neurological function, improving mood,
      relieving stress, and forming a sense of community between the parties involved
      in music-making and recieving. </p>
  </div>
</div>
<div class="fbox home">
  <h3>Why Music?</h3>
  <div class="pbox home">
    <p>The team at The Harmony Collective was originally planning a tour across
      the rural areas of Canada to bring live classical music to communities with
      limited opportunities to attend concerts. This will be back up for discussion
      again, post COVID-19!
</p>
  </div>
</div>
{% endblock %}
